{% extends 'base.html.twig' %}

{% block title %}HorsePower Calculator{% endblock %}

{% block body %}
	{% if engines %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Engine ID</th>
					<th>Engine Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for engine in engines %}
					<tr>
						<td>{{ engine.id }}</td>
						<td>{{ engine.name }}</td>
						<td>
							<a href="/engine/{{ engine.id }}" class="btn btn-dark">Show</a>
							<a href="/engine/{{ engine.id }}/upgrade" class="btn btn-dark">Upgrade</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No Engines to display.</p>
	{% endif %}
{% endblock %}