{% extends 'base.html.twig' %}

{% block title %}HorsePower Calculator{% endblock %}

{% block body %}
	<form>
		Forced induction<br>
		<input type="radio" name="forced induction" value="na"> No forced indction<br>
		<input type="radio" name="forced induction" value="turbo"> Turbocharger<br>
  		<input type="radio" name="forced induction" value="super"> Supercharger
	</form>
{% endblock %}