{% extends 'base.html.twig' %}

{% block title %}HorsePower Calculator{% endblock %}

{% block body %}
	<div class="form-group row">
    	<div class="col-sm-5">
    		{% include('inc/form.html.twig') %}
	    </div>
	</div>
{% endblock %}