<nav class="navbar navbar-expand-sm bg-light mb-3">
	<div class="container">
		<a href="/" class="navbar-brand">HorsePower Calculator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse">
			<span class="navbar-toggle-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mobile-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="/" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="/engine/add" class="nav-link">Add Engine</a>
				</li>
				<li class="nav-item">
					<a href="/login" class="nav-link">Login</a>
				</li>
			</ul>
		</div>
	</div>
</nav>